/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #2E8555;
  color: white;
}

.heroBanner h1 {
  color: white;
}

.heroBanner .hero__subtitle {
  color: white;
  margin-bottom: 2rem;
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroButtons {
    flex-direction: column;
    gap: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
